.legend {
    position: absolute;
    bottom: 10px; /* Adjust position from bottom */
    left: 10px; /* Adjust position from left */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it is on top of the map */
}

.legend h4 {
    margin: 0;
    font-size: 16px;
    color: black; /* Set font color to black */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin-right: 10px;
}

.legend-label {
    font-size: 14px;
    color: black; /* Set font color to black */
}
